{% extends "base.html" %}
{% block content %}

{% load static %}

  <div class="row">
    <h2 class="text-center">Planner</h2>
  </div>
  <hr>

  <div class="row">

      <div class="panel panel-default">
        <div class="panel-heading text-center">Add Planner</div>
        <div class="panel-body">
          <form class="" method="post" action="{% url 'addplanner' %}">
            {% csrf_token %}
            <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <div class="input-group date" data-provide="datepicker">
                  <input type="text" class="form-control" name="date" placeholder="Click">
                  <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                  </div>
               </div>
             </div>
         </div>
           <div class="col-lg-8">
             {% if recipes %}
               <div class="list-group">
                 <a href="#" class="list-group-item disabled">Select 1 recipe</a>
                 {% for recipe in recipes %}
                 <div class="checkbox">
                    <label><input type="checkbox" name="recipe" value="{{recipe.id}}">{{recipe.title}}</label>
                  </div>
                 {% endfor %}
              </div>
             {% endif %}
        </div>

         </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Add</button>
              </div>
            </div>
          </form>

        </div>
    </div>

  </div>



{% endblock %}
