{% extends "base.html" %}
{% block content %}

{% load static %}
  <div class="row">
    <h2 class="text-center">MyGrocery</h2>
  </div>
  <hr>

  <div class="row">
    {# checking the recipes #}
    {% if recipes %}
      <div class="col-lg-6 col-lg-offset-3">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Items</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          {# looping through the recipes  #}
            {% for recipe in recipes %}
            <tr>
              <td></td>
              <td>{{recipe.title}}</td>
              <td>
                <a class="btn btn-info" href="/grocery/add/{{recipe.pk}}/" role="button">Add to list</a>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div> <!-- div col-lg-6 !-->
      {% else %}
      <div class="col-lg-4 col-lg-offset-4">
        <p>Sorry, no recipe in this list.</p>
      </div>
    {% endif %}

  </div>
  {% if grocerys %}
 <div class="col-lg-6 col-lg-offset-3">
   <table class="table">
     <thead>
       <tr>
         <th>#</th>
         <th>Items</th>
         <th>Actions</th>
       </tr>
     </thead>
     <tbody>
     {# looping through the grocery  #}
       {% for grocery in grocerys %}
       <tr>
         <td></td>
         <td>{{grocery.content}}</td>
         <td>
           <a class="btn btn-danger" href="/grocery/del/{{grocery.id}}" role="button">Delete</a>
         </td>
       </tr>
       {% endfor %}

     </tbody>
   </table>
 </div> <!-- col-lg-6 !-->


 <style>
 table
    {
    counter-reset: rowNumber;
    }

    table tr > td:first-child
    {
    counter-increment: rowNumber;
    }

    table tr td:first-child::before
    {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
    }
 </style>
  {% endif %}


<!-- content endblock -->
{% endblock %}
