{% extends "base.html" %}
{% block content %}

{% load static %}
  <div class="row">
    <h2 class="text-center">MyGrocery</h2>
  </div>
  <hr>

  <div class="row">
    <form class="form-horizontal"  action="{% url 'grocerysearch' %}">
    <div class="col-lg-4">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="search recipes" required/>
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit">Search</button>
            </span>
        </div><!-- /input-group -->
    </div>
  </form>

  </div>
  <hr>
  {% if grocerys %}
    <div class="list-group" style="text-align:center">
      <a href="#" class="list-group-item disabled">Grocery</a>
      {% for grocery in grocerys %}
        <a href="/grocery/view/{{grocery.recipe.id}}/" class="list-group-item">{{grocery.recipe.title}}</a>
      {% endfor %}
   </div>
  {% endif %}



{% endblock %}
