{% extends "base.html" %}
{% block content %}

{% load static %}
  <div class="row">
    <h2 class="text-center">MyRecipes</h2>
  </div>
  <hr>

  <div class="row">

      <div class="panel panel-default">
        <div class="panel-body">
          {% if not recipes %}
            Let's get started and add new recipes
          {% endif %}
          <a href="{% url 'addrecipes' %}" class="btn btn-primary btn-sm pull-right">Add New</a>
        </div
    </div>

  </div>
  {% if recipes %}
    <div class="list-group" style="text-align:center">
      <a href="#" class="list-group-item disabled">recipes</a>
      {% for recipe in recipes %}
        <a href="view/{{recipe.id}}/" class="list-group-item">{{recipe.title}}</a>
      {% endfor %}
   </div>
  {% endif %}



{% endblock %}
