{% extends "base.html" %}
{% block content %}

{% load static %}
  <div class="row">
    <h2 class="text-center">Our Partners</h2>
  </div>
  <hr>
  <div class="row">
    <div class="tab-content col-md-10">
        <div class="tab-pane active" id="partner1">
          <p>We partner with famous food brands and strive get involved within the local communities. </p>
             <h4>Food Network</h4>
          
        </div>
        <div class="tab-pane" id="partner2">
             <h4>General Mills</h4>
            
        </div>
        <div class="tab-pane" id="partner3">
             <h4>Copia</h4>
          
        </div>
        <div class="tab-pane" id="partner4">
             <h4>Yummly</h4>
           
        </div>
        <div class="tab-pane" id="partner5">
             <h4>Feeding America</h4>
             
        </div>
</div><!-- tab content -->


  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <img src="{% static "images/business_partners.jpg" %}" class="img-rounded" style="width:100%">
    </div>
    <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked col-md-2">
          <li class="active"><a href="#partner1" data-toggle="pill">Food Network</a></li>
          <li><a href="#partner2" data-toggle="pill">General Mills</a></li>
          <li><a href="#partner3" data-toggle="pill">Copia</a></li>
          <li><a href="#partner4" data-toggle="pill">Yummly</a></li>
          <li><a href="#partner5" data-toggle="pill">Contact</a></li>
        </ul>
  </div> <!-- col-md-6 !-->

  </div>

{% endblock %}
