{% extends "base.html" %}
{% block content %}

{% load static %}
  <div class="row">
    <h2 class="text-center">Our Partners</h2>
  </div>
  <hr>
  <div class="row">
    <div class="tab-content col-md-10">
        <div class="tab-pane active" id="partner1">
             <h4>Partner1</h4>
            <p>Partner1 was born in that humble town so many years ago.
              I rushed home from Italy and opened my first café in Greenville,
              Delaware six months later. My mission was to create a warm and friendly gathering place,
              a marriage of Italian quality and down-home Delaware friendly.</p>
        </div>
        <div class="tab-pane" id="partner2">
             <h4>Partner2</h4>
             <p>Partner2 was born in that humble town so many years ago.
               I rushed home from Italy and opened my first café in Greenville,
               Delaware six months later. My mission was to create a warm and friendly gathering place,
               a marriage of Italian quality and down-home Delaware friendly.</p>
        </div>
        <div class="tab-pane" id="partner3">
             <h4>Partner3</h4>
             <p>Partner3 was born in that humble town so many years ago.
               I rushed home from Italy and opened my first café in Greenville,
               Delaware six months later. My mission was to create a warm and friendly gathering place,
               a marriage of Italian quality and down-home Delaware friendly.</p>
        </div>
        <div class="tab-pane" id="partner4">
             <h4>Partner4</h4>
             <p>Partner4 was born in that humble town so many years ago.
               I rushed home from Italy and opened my first café in Greenville,
               Delaware six months later. My mission was to create a warm and friendly gathering place,
               a marriage of Italian quality and down-home Delaware friendly.</p>
        </div>
        <div class="tab-pane" id="partner5">
             <h4>Partner5</h4>
             <p>Partner5 was born in that humble town so many years ago.
               I rushed home from Italy and opened my first café in Greenville,
               Delaware six months later. My mission was to create a warm and friendly gathering place,
               a marriage of Italian quality and down-home Delaware friendly.</p>
        </div>
</div><!-- tab content -->


  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <img src="{% static "images/business_partners.jpg" %}" class="img-rounded" style="width:100%">
    </div>
    <div class="col-md-6">
    <ul class="nav nav-pills nav-stacked col-md-2">
      <li class="active"><a href="#partner1" data-toggle="pill">Partner1</a></li>
      <li><a href="#partner2" data-toggle="pill">Partner2</a></li>
      <li><a href="#partner3" data-toggle="pill">Partner3</a></li>
      <li><a href="#partner4" data-toggle="pill">Partner4</a></li>
      <li><a href="#partner5" data-toggle="pill">Partner5</a></li>
    </ul>
  </div>

  </div>



{% endblock %}
