{% extends "base.html" %}
{% block content %}

{% load static %}
  <div class="row">
    <h2 class="text-center">Our Story</h2>
  </div>
  <hr>
  <div class="row">
    <p>At the beginning of 2020, Chidimma launched Tasteful Cooking. Her vision was to make cooking easier for 
      families across the globe. With this web appliciation, they can discover and share their passion for cooking. 
      It is a platform for both cooking novice, hobby chef, and experts to share their recipes. 
      They can share their grandmother's recipes, simply learn and try new recipes, or showoff their cooking skills. </p>
<br>
   
</div><!-- /.row -->


<!-- content endblock -->
{% endblock %}
