{% extends "base.html" %}
{% block content %}

{% load static %}
  <div class="row">
    <h2 class="text-center">Grocery</h2>
  </div>
  <hr>

  <div class="row">
    <h2 class="text-center">{{recipe.title}}</h2>
    {# url for deleting the grocery  #}
    <a href="/grocery/del/{{recipe.id}}/" class="btn btn-danger btn-sm pull-right">Delete Grocery</a>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">INGREDIENTS</div>
        <div class="panel-body">
          <ol>
            {# looping through the ingredients  #}
            {% for i in ingredients %}
              <li>{{i}}</li>
            {% endfor %}
        </ol>
        </div> <!-- panel-body -->
    </div>
    </div>
    <div class="col-md-8">

     <div class="panel panel-info">
        <div class="panel-heading">INSTRUCTIONS</div>
        {# linebreak is a templatetag for formatting the paragrapgh  #}
        <div class="panel-body">{{recipe.description|linebreaks}}</div>
     </div> <!-- panel-info -->

    </div> <!-- col-md-9 -->

   </div> <!-- row -->



{% endblock %}
